:root
{
  --primary-color: #FFFBF7;
  --secondary-color: #F8F8F8;

  --spacing-xl: 150px;
  --spacing-lg: 100px;
  --spacing-md: 50px;
  --spacing-s: 25px;
  --spacing-xs: 15px;
  --spacing-xxs: 5px;

  --font-size-sm: 15px;
  --font-size-md: 30px;
  --font-size-lg: 45px;
}

body
{
  margin: 0;
  padding: 0;
}


header
{
  height: 50vh;
  background-image: url(headphones_hero_1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

nav
{
  display: flex;
  justify-content
}
